<template>
	<Head title="Editar servicio" />
	<form action="">
		<div class="mb-4">
			<FormLabel value="Título" />
			<FormInput type="text" v-model="service.title" class="w-full" />
		</div>

		<div class="mb-4">
			<FormLabel value="Subtítulo" />
			<FormInput type="text" v-model="service.subtitle" class="w-full" />
		</div>

		<div class="mb-4">
			<FormLabel value="Especificaciones" />
			<FormInput type="text" v-model="service.subtitle" class="w-full" />
		</div>
		
		<div class="mb-4">
			<FormLabel value="Contenido" />
			<ckeditor :editor="editor" v-model="service.body" :config="editorConfig"></ckeditor>
		</div>
	</form>
</template>
<script>
import AuthLayout from '@/Layouts/Authenticated';
import { Head } from '@inertiajs/inertia-vue3';
import FormInput from '@/Components/Input';
import FormLabel from '@/Components/Label';
import CKEditor from '@ckeditor/ckeditor5-vue';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
export default {
  name: 'Edit',
  layout: AuthLayout,
  props: ['service'],
  components: {
  	Head, 
  	FormInput, 
  	FormLabel,
  	ckeditor: CKEditor.component
  },
  data () {
    return {
			editor: ClassicEditor,
			editorConfig: {
				toolbar: {
					items: [
						'bold',
						'italic',
						'link',
						'undo',
						'redo'
					]
				}
			}
    }
  }
}
</script>
<style lang="css" scoped>
</style>