<template>
	<Head title="Servicios" />
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Fecha</th>
				<th>Titulo</th>
				<th>Subtitulo</th>
				<th>Editar</th>
			</tr>
		</thead>

		<tbody>
			<tr v-for="service in services" v-bind:key="service.id">
				<td v-text="service.id"></td>
				<td v-text="service.created_at"></td>
				<td v-text="service.title"></td>
				<td v-text="service.subtitle"></td>
				<td>
					<Link :href="route('service.edit', service.id)">
						Editar
					</Link>
				</td>
			</tr>
		</tbody>
	</table>
</template>
<script>
import { Head, Link } from '@inertiajs/inertia-vue3';
import AuthLayout from '@/Layouts/Authenticated';
export default {
  name: 'Index',
  props: ['services'],
  layout: AuthLayout,
  components: {Head, Link},
  data () {
    return {
    }
  }
}
</script>
<style lang="css" scoped>
</style>